<section id="slider" class="full-screen slider-parallax" style="top: -100px; margin-bottom: -100px;">
	<div class="slider-parallax-inner" style="background: url('/canvas/loyalty/css/hero2.jpg') center center no-repeat; background-size: cover;">
		<div class="vertical-middle" style="z-index: 2;">
			<div class="container dark clearfix">
				<div class="row clearfix">
					<div class="col-md-6 col-sm-8">
						<div class="emphasis-title">
							<h2><i class="icon-users"></i> Team</h2>
							<span>List of People who matter in Our Company</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
			<div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
		</div>
	</div>
</section>

<!-- Content
============================================= -->
<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			<!-- Core team -->
			<div class="title-block">
				<h2>Core <span>team</span></h2>
				<span>List of people who matter in our company</span>
			</div>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 bottommargin">
					<div class="team">
						<div class="team-image">
							<img src="/canvas/loyalty/team/TG.jpg" alt="John Doe">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Thomas</h4><span>CEO</span></div>
							<a href="http://www.tgconsulting.ch" class="social-icon inline-block si-small si-light si-rounded si-wordpress">
								<i class="icon-globe"></i>
								<i class="icon-globe"></i>
							</a>
							<a href="https://ch.linkedin.com/in/thomasgoetschmann1981/en" class="social-icon inline-block si-small si-light si-rounded si-LinkedIn">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 bottommargin">
					<div class="team">
						<div class="team-image">
							<img src="/canvas/loyalty/team/NG.jpg" alt="Josh Clark">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Nicolas</h4><span>CTO</span></div>
							<a href="http://www.btc-consulting.org" class="social-icon inline-block si-small si-light si-rounded si-wordpress">
								<i class="icon-globe"></i>
								<i class="icon-globe"></i>
							</a>
							<a href="http://www.linkedin.com/in/nicolas-genko-5360b23" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 bottommargin">
					<div class="team">
						<div class="team-image">
							<img src="/canvas/loyalty/team/AL.jpg" alt="Mary Jane">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Alexandre</h4><span>Lead developer</span></div>
							<a href="https://ch.linkedin.com/in/alexandrelazar/en" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 bottommargin">
					<div class="team">
						<div class="team-image">
							<img src="/canvas/loyalty/team/HMH.jpg" alt="Nix Maxwell">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Hans-Michael</h4><span>Chairman of the board</span></div>
							<a href="https://ch.linkedin.com/in/hans-michael-hauser-a5277597/en" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 bottommargin">
					<div class="team">
						<div class="team-image">
							<img src="/canvas/loyalty/team/ES.jpg" alt="Nix Maxwell">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Eric</h4><span>Board member - Legal</span></div>
							<a href="http://www.linkedin.com/in/eric-sibbern-46b4b450" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 bottommargin">
					<div class="team">
						<div class="team-image">
							<img src="/canvas/loyalty/team/SR.jpg" alt="Nix Maxwell">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Stéphane</h4><span>Board member - Retail</span></div>
							<a href="https://www.linkedin.com/in/st%C3%A9phane-rueff-3027a541/" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
				<!--div class="col-md-3 col-sm-6 bottommargin">
					<div class="team">
						<div class="team-image">
							<img src="/canvas/loyalty/team/TA.jpg" alt="Nix Maxwell">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Teresa</h4><span>Marketing & Sales</span></div>
							<a href="https://www.linkedin.com/in/teresa-allesch-a2069362/" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>
				</div-->
				<div class="col-md-3 col-sm-6 bottommargin">
					<div class="team">
						<div class="team-image">
							<img src="/canvas/loyalty/team/AA.jpg" alt="Nix Maxwell">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Alexis</h4><span>DevOps engineer</span></div>
							<a class="social-icon inline-block si-small si-light si-rounded si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 bottommargin">
					<div class="team">
						<div class="team-image">
							<img src="/canvas/loyalty/team/PB.jpg" alt="Nix Maxwell">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Philippe</h4><span>Bounty manager</span></div>
							<a href="https://bitcointalk.org/index.php?action=profile;u=1096608" class="social-icon inline-block si-small si-light si-rounded si-wordpress">
								<i class="icon-bitcoin"></i>
								<i class="icon-bitcoin"></i>
							</a>
						</div>
					</div>
				</div>
				<!--div class="col-md-3 col-sm-6 bottommargin">
					<div class="team">
						<div class="team-image">
							<img src="/canvas/loyalty/team/AA.jpg" alt="Nix Maxwell">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Grigori</h4><span>Graphics support</span></div>
							<a href="http://www.chagry.com" class="social-icon inline-block si-small si-light si-rounded si-wordpress">
								<i class="icon-globe"></i>
								<i class="icon-globe"></i>
							</a>
							<a href="https://github.com/chagry" class="social-icon inline-block si-small si-light si-rounded si-github">
								<i class="icon-github-circled"></i>
								<i class="icon-github-circled"></i>
							</a>
						</div>
					</div>
				</div-->
			</div>
			
			<!-- Advosory board -->
			<div class="title-block">
				<h2>Advisory <span>board</span></h2>
				<span>List of people</span>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 bottommargin">
					<div class="team">
						<div class="team-image">
							<img src="/canvas/loyalty/team/NS.jpg" alt="">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Nicolas</h4><span>Strategic advisor</span></div>
							<a href="https://www.linkedin.com/in/nschobinger/" class="social-icon inline-block si-small si-light si-rounded si-LinkedIn">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 bottommargin">
					<div class="team">
						<div class="team-image">
							<img src="/canvas/loyalty/team/SD.jpg" alt="">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Samuel</h4><span>Communication advisor - Voluntary mandate</span></div>
							<a href="https://www.linkedin.com/in/samuel-dionne-73757a9a/" class="social-icon inline-block si-small si-light si-rounded si-LinkedIn">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- #content end -->
