<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LedgerLocal</title>
    <base href="/" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400italic,600,700|Montserrat:400,700|Merriweather" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />

</head>
<body class="stretched">
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
