<!-- Intro video
    ============================================= -->
<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix hidden-xs testvideoslider">
  <div class="slider-parallax-inner">
    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide dark">
          <div class="container clearfix">
            <div class="slider-caption slider-caption-center">
              <h2 data-caption-animate="fadeInUp">
                <img src="/assets/llc/images/icon.png" alt="LedgerLocal Logo">
              </h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200">Decentralized local exchange between fiat money and cryptocurrency, merchant accept any cryptocurrency, hedge their positions.</p>
              <a href="/assets/llc/WPaper/LedgerLocal_WhitePaper_v01.pdf" target=_blank class="button button-3d button-xlarge button-rounded button-dirtygreen" data-caption-animate="fadeInUp" data-caption-delay="200">White Paper</a>
              <a href="#" class="button button-3d button-xlarge button-rounded button-amber" data-caption-animate="fadeInUp" data-caption-delay="200">Login</a>
            </div>
          </div>
          <div class="video-wrap">
            <video id="slide-video" poster="/assets/llc/images/video/vid.jpg" preload="auto" loop autoplay muted>
              <source src='/assets/llc/images/video/vid.webm' type='video/webm' />
              <source src='/assets/llc/images/video/vid.mp4' type='video/mp4' />
            </video>
            <div class="video-overlay" style="background-color: rgba(0,0,0,0.35);"></div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
  </div>
</section>

<!-- Content
============================================= -->
<section id="content">
  <div class="content-wrap">
    <!-- Presale
    ============================================= -->
    <div class="row clearfix common-height header-stick" id="presale">
      <div class="col-md-6 center col-padding" style="background: url('/assets/llc/images/page/main-bg.jpg') center center no-repeat; background-size: cover;">
        <div>&nbsp;</div>
      </div>
      <div class="col-md-6 center col-padding" style="background-color: #F5F5F5;">
        <div>
          <div class="heading-block nobottomborder">
            <span class="before-heading color">Presale starts soon.</span>
            <h3>Presale</h3>
          </div>
          <div class="center bottommargin">
            <div class="rounded-skill nobottommargin" data-color="#3F729B" data-size="200" data-percent="85" data-width="3" data-speed="6500">
              <div class="counter counter-inherit"><span data-from="1" data-to="0" data-refresh-interval="50" data-speed="6000"></span>%</div>
            </div>
          </div>
          <p class="lead nobottommargin">
            Follow our presale on <a href="https://market.rudex.org/#/account/ledgerlocal-admin">bitshares blockchain</a>.
          </p>
        </div>
      </div>
    </div>

    <!-- Presale numbers
    ============================================= -->
    <div class="row clearfix bottommargin-lg common-height">
      <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #515875;">
        <div>
          <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
          <div class="counter"><span data-from="100" data-to="1000" data-refresh-interval="50" data-speed="2000"></span>$</div>
          <h5>Target</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #576F9E;">
        <div>
          <i class="i-plain i-xlarge divcenter icon-line2-graph"></i>
          <div class="counter"><span data-from="3000" data-to="0" data-refresh-interval="100" data-speed="2500"></span>$</div>
          <h5>Amount collected</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #6697B9;">
        <div>
          <i class="i-plain i-xlarge divcenter icon-line-tag"></i>
          <div class="counter">0.87$</div>
          <h5>Current token price</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 dark center col-padding" style="background-color: #88C3D8;">
        <div>
          <i class="i-plain i-xlarge divcenter icon-line-thermometer"></i>
          <div class="counter"><span data-from="1000" data-to="9742004" data-refresh-interval="30" data-speed="2700"></span></div>
          <h5>Remaining token for sale</h5>
        </div>
      </div>
    </div>

    <!-- Telegram joint
    ============================================= -->
    <a href="https://t.me/joinchat/G35x3U6U1aOo9FeLHAI3VQ" target="_blank" class="button button-full button-yellow center tright header-stick">
      <div class="container clearfix">
        Follow us on <strong>Telegram</strong> <i class="icon-email2" style="top:4px;"></i>
      </div>
    </a>

    <!-- Newsletter Subscribe
    ============================================= -->
    <div class="section notopmargin">
      <div class="container clearfix">
        <div class="center">
          <h2>Subscribe to our <span>Newsletter</span></h2>
        </div>
        <div class="subscribe-widget">
          <div class="widget-subscribe-form-result"></div>
          <form id="widget-subscribe-form2" action="" role="form" method="post" class="nobottommargin">
            <div class="input-group input-group-lg divcenter" style="max-width:600px;">
              <span class="input-group-addon"><i class="icon-line2-envelope-open"></i></span>
              <input type="email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Subscribe Now</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Bounty program
    ============================================= -->
    <div class="container clearfix">
      <div class="row clearfix">
        <div class="col-lg-5">
          <div class="heading-block topmargin">
            <h1>Bounty program</h1>
          </div>
          <p class="lead"><b>We will distribute 2% of the LedgerLocal token.</b> We have implemented a referral scheme directly on our website.</p>
        </div>
        <div class="col-lg-7">
          <div style="position: relative; margin-bottom: -60px;" class="ohidden" data-height-lg="426" data-height-md="567" data-height-sm="470" data-height-xs="287" data-height-xxs="183">
            <img src="/assets/llc/images/page/main-fbrowser.png" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="100" alt="Bounty">
          </div>
        </div>
      </div>
    </div>

    <!-- Exchanges between cash
    ============================================= -->
    <div class="section topmargin nobottommargin nobottomborder">
      <div class="container clearfix">
        <div class="col_one_third center">
          <img data-animate="fadeInLeft" src="/assets/llc/images/page/iphone6.png" alt="exchanges">
        </div>
        <div class="col_two_third col_last">
          <div class="heading-block topmargin-sm">
            <h3>exchanges between cash and cryptocurrencies</h3>
          </div>
          <p class="lead">LedgerLocal proposes to revolutionize the entry and exit barriers in the crypto-world, and connect an exchange platform with a reputation system.</p>
          <p class="lead">Making cryptocurrency transactions easier for widespread use. Thanks to Bitshares, LedgerLocal provides seamless exchanges between cash and cryptocurrencies.</p>
        </div>
      </div>
    </div>

    <!-- Digital money
    ============================================= -->
    <div class="section parallax notopmargin nobottommargin" style="background-image: url('/assets/llc/images/page/home-testi-bg.jpg'); padding: 100px 0;" data-stellar-background-ratio="0.4">
      <div class="container clear-bottommargin clearfix">
        <div class="heading-block">
          <h3>Digital money</h3>
          <span class="divcenter"><b>LedgerLocal enables the unbanked to benefit from digital money.</b></span>
        </div>
        <a href="/assets/llc/WPaper/LedgerLocal_WhitePaper_v01.pdf" target=_blank class="button button-3d button-rounded button-dirtygreen">White Paper</a>
        <a href="#" class="button button-3d button-rounded button-amber">Login</a>
      </div>
    </div>

    <!-- Application
    ============================================= -->
    <div id="application" class="section dark parallax notopmargin nobottommargin noborder" style="height: 450px; padding: 145px 0;">
      <div class="container clearfix">
        <div class="slider-caption slider-caption-center" style="position: relative;">
          <div data-animate="fadeInUp">
            <h2 style="font-size: 42px;">Our mobile application</h2>
            <p>A user-friendly interface for broad acceptance.<br />A progressive web application facilitates easy financial interactions.</p>
          </div>
        </div>
      </div>
      <div class="video-wrap">
        <video id="slide-video" poster="/assets/llc/images/video/vid.jpg" preload="auto" loop autoplay muted>
          <source src='/assets/llc/images/video/vid.webm' type='video/webm' />
          <source src='/assets/llc/images/video/vid.mp4' type='video/mp4' />
        </video>
        <div class="video-overlay" style="background-color: rgba(0,0,0,0.3);"></div>
      </div>
    </div>
    <div class="col_full bottommargin-lg common-height">
      <div class="col-md-4 dark col-padding ohidden" style="background-color: #1abc9c;">
        <div>
          <h3 class="uppercase" style="font-weight: 600;">Validators</h3>
          <p class="lead">The validator can perform the full KYC (Know Your Customer) process.</p>
          <i class="icon-line2-lock bgicon"></i>
        </div>
      </div>
      <div class="col-md-4 dark col-padding ohidden" style="background-color: #34495e;">
        <div>
          <h3 class="uppercase" style="font-weight: 600;">Escrows</h3>
          <p class="lead">Secure the funds of the seller in a 2-of-3 multi-signature wallet.</p>
          <i class="icon-line2-shield bgicon"></i>
        </div>
      </div>
      <div class="col-md-4 dark col-padding ohidden" style="background-color: #e74c3c;">
        <div>
          <h3 class="uppercase" style="font-weight: 600;">Users</h3>
          <p class="lead">Comprising buyers and sellers.</p>
          <i class="icon-line2-users bgicon"></i>
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <!-- Use Cases
    ============================================= -->
    <div class="container clearfix">
      <div id="section-couple" class="heading-block title-center page-section">
        <h2>Use Cases</h2>
        <span>For Exchanges and merchant.</span>
      </div>
      <div class="col-md-6 bottommargin-sm">
        <div class="team team-list clearfix">
          <div class="team-image" style="width: 150px;">
            <img src="/assets/llc/images/page/bank.png" alt="Bryant Kellam">
          </div>
          <div class="team-desc">
            <div class="team-title"><h4>Exchanges</h4></div>
            <div class="team-content lead">The professional trader ensures his margin.</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 bottommargin-sm">
        <div class="team team-list clearfix">
          <div class="team-image" style="width: 150px;">
            <img src="/assets/llc/images/page/shop.png" alt="Leanna Pyburn">
          </div>
          <div class="team-desc">
            <div class="team-title"><h4>Merchants</h4></div>
            <div class="team-content lead">Any merchant with a bricks-and-mortar store or e-commerce platform to accept any cryptocurrency.</div>
          </div>
        </div>
      </div>
    </div>

    <!-- privacy
    ============================================= -->
    <div class="section topmargin nobottomborder">
      <div class="container clearfix">
        <div class="col-md-5 col_last">
          <p class="lead">LedgerLocal provides a trustless and frictionless platform that enables censorship resistance.</p>
          <p class="lead">For LocalLedger, privacy is an important concern. We intend to make sure that:</p>
        </div>
        <div class="col-md-7">
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
            <div class="fbox-icon">
              <a href="#"><i class="icon-line2-energy"></i></a>
            </div>
            <h4>Users can keep their global wealth private with respect to other users.</h4>
          </div>
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
            <div class="fbox-icon">
              <a href="#"><i class="icon-line2-energy"></i></a>
            </div>
            <h4>Traders can view the activity of their counterparts on their trading account.</h4>
          </div>
        </div>
      </div>
    </div>

    <!-- Reputation system
    ============================================= -->
    <div class="row clearfix common-height header-stick">
      <div class="col-md-6 center col-padding" style="background: url('/assets/llc/images/page/main-bg1.jpg') center center no-repeat; background-size: cover;">
        <div>&nbsp;</div>
      </div>
      <div class="col-md-6 col-padding" style="background-color: #F5F5F5;">
        <div>
          <div class="heading-block nobottomborder">
            <span class="before-heading color">Ranking.</span>
            <h3>Reputation system</h3>
          </div>
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
            <div class="fbox-icon">
              <a href="#"><i class="icon-line-check"></i></a>
            </div>
            <h3>Verification status (KYC)</h3>
          </div>
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
            <div class="fbox-icon">
              <a href="#"><i class="icon-line-check"></i></a>
            </div>
            <h3>Number of transactions</h3>
          </div>
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
            <div class="fbox-icon">
              <a href="#"><i class="icon-line-check"></i></a>
            </div>
            <h3>Volume of transactions</h3>
          </div>
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
            <div class="fbox-icon">
              <a href="#"><i class="icon-line-check"></i></a>
            </div>
            <h3>Rating provided by other users</h3>
          </div>
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
            <div class="fbox-icon">
              <a href="#"><i class="icon-line-check"></i></a>
            </div>
            <h3>Date of registration on the platform</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- anonymous
    ============================================= -->
    <div class="section parallax notopmargin nobottommargin" style="background-image: url('/assets/llc/images/page/bg1.jpg'); padding: 100px 0;" data-stellar-background-ratio="0.4">
      <div class="container clear-bottommargin center dark clearfix">
        <h3><span>LedgerLocal</span> is free and can be used by anonymous users without any <span>restrictions</span>.</h3>
      </div>
    </div>

    <!-- DAO
    ============================================= -->
    <div id="dao" class="section parallax notopmargin nobottommargin dark" style="background-image: url('/assets/llc/images/page/home-testi-bg1.jpg'); padding: 100px 0;" data-stellar-background-ratio="0.4">
      <div class="container clear-bottommargin clearfix">
        <div class="heading-block">
          <h3>DAO</h3>
          <span class="divcenter"><b>A decentralized autonomous organization.</b></span>
        </div>
        <a href="/assets/llc/WPaper/LedgerLocal_WhitePaper_v01.pdf" target=_blank class="button button-3d button-rounded button-dirtygreen">White Paper</a>
        <a href="#" class="button button-3d button-rounded button-amber">Login</a>
      </div>
    </div>

    <!-- accounting transparent
    ============================================= -->
    <div class="container clearfix">
      <div class="row topmargin-lg center">
        <div class="heading-block">
          <h2>The accounting will be fully transparent</h2>
          <span class="divcenter">We will be using Bitshares to manage the wealth of the project. All token holders will be able to offer their opinion regarding the management of the project.</span>
        </div>
        <p>Every participant may receive some financial compensation for their work (but each participant is responsible for declaring their earnings in their local tax jurisdiction).</p>
      </div>
    </div>

    <!-- Token
    ============================================= -->
    <div class="section topmargin nobottommargin nobottomborder">
      <div class="container clearfix">
        <div class="col_one_third center">
          <img data-animate="fadeInLeft" src="/assets/llc/images/page/coingold.png" alt="exchanges">
        </div>
        <div class="col_two_third col_last">
          <div class="heading-block topmargin-sm">
            <h3>Token holders are empowered to shape the LedgerLocal ecosystem</h3>
            <span class="divcenter">Our token will be used to support the whole ecosystem created by LedgerLocal. It will be available for the following purposes:</span>
          </div>
          <div>
            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
              <div class="fbox-icon">
                <a href="#"><i class="icon-line-check"></i></a>
              </div>
              <h3>Paying for the escrow service.</h3>
            </div>
            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
              <div class="fbox-icon">
                <a href="#"><i class="icon-line-check"></i></a>
              </div>
              <h3>Paying for verification by an institution allowed to perform a full KYC process.</h3>
            </div>
            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
              <div class="fbox-icon">
                <a href="#"><i class="icon-line-check"></i></a>
              </div>
              <h3>Voting on any DAO resolutions and board appointments.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Media
    ============================================= -->
    <div id="media" class="container clearfix">
      <div class="heading-block center topmargin">
        <h2>Media</h2>
        <span class="divcenter">In the press</span>
      </div>
      <div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="60" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4" data-items-md="5" data-items-lg="6">
        <div class="oc-item"><a href="#"><img src="/assets/llc/images/media/media1.png" alt="Clients"></a></div>
        <div class="oc-item"><a href="#"><img src="/assets/llc/images/media/media2.png" alt="Clients"></a></div>
      </div>
    </div>

    <!-- roadmap
    ============================================= -->
    <div id="roadmap" class="section">
      <div class="container clear-bottommargin clearfix">
        <div class="heading-block center">
          <h2>Roadmap</h2>
          <span class="divcenter">In the Roadmap</span>
        </div>
        <section class="cd-timeline js-cd-timeline">
          <div class="cd-timeline__container">
            <div class="cd-timeline__block js-cd-block">
              <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                <img src="/assets/llc/images/roadlogo.png" alt="Movie">
              </div> <!-- cd-timeline__img -->
              <div class="cd-timeline__content js-cd-content">
                <h2>Q1 <span class="visible-xs">2018</span></h2>
                <p>
                  <i class="icon-line2-arrow-right"></i> Pre-sale starts.<br />
                  <i class="icon-line2-arrow-right"></i> Implementation commences on the mobile interface.
                </p>
                <span class="cd-timeline__date hidden-xs">2018</span>
              </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->
            <div class="cd-timeline__block js-cd-block">
              <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                <img src="/assets/llc/images/roadlogo.png" alt="Movie">
              </div> <!-- cd-timeline__img -->
              <div class="cd-timeline__content js-cd-content">
                <h2>Q2 <span class="visible-xs">2018</span></h2>
                <p>
                  <i class="icon-line2-arrow-right"></i> Pre-sale closes.<br />
                  <i class="icon-line2-arrow-right"></i> Alpha version of the mobile interface launches.<br />
                  <i class="icon-line2-arrow-right"></i> Primary functionalities include.<br />
                  <i class="icon-line2-arrow-right"></i> Ability to exchange on the DEX.<br />
                  <i class="icon-line2-arrow-right"></i> Cash-to-digital exchange.<br />
                  <i class="icon-line2-arrow-right"></i> Money transfers.
                </p>
                <span class="cd-timeline__date hidden-xs">2018</span>
              </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->
            <div class="cd-timeline__block js-cd-block">
              <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                <img src="/assets/llc/images/roadlogo.png" alt="Movie">
              </div> <!-- cd-timeline__img -->
              <div class="cd-timeline__content js-cd-content">
                <h2>Q3 <span class="visible-xs">2018</span></h2>
                <p>
                  <i class="icon-line2-arrow-right"></i> Reputation system is integrated.
                </p>
                <span class="cd-timeline__date hidden-xs">2018</span>
              </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->
            <div class="cd-timeline__block js-cd-block">
              <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                <img src="/assets/llc/images/roadlogo.png" alt="Movie">
              </div> <!-- cd-timeline__img -->
              <div class="cd-timeline__content js-cd-content">
                <h2>Q4 <span class="visible-xs">2018</span></h2>
                <p>
                  <i class="icon-line2-arrow-right"></i> Privacy is integrated.<br />
                  <i class="icon-line2-arrow-right"></i> ICO starts.
                </p>
                <span class="cd-timeline__date hidden-xs">2018</span>
              </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->
            <div class="cd-timeline__block js-cd-block">
              <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                <img src="/assets/llc/images/roadlogo.png" alt="Movie">
              </div> <!-- cd-timeline__img -->
              <div class="cd-timeline__content js-cd-content">
                <h2>Q1 <span class="visible-xs">2019</span></h2>
                <p>
                  <i class="icon-line2-arrow-right"></i> Legal framework begins in the EU and USA.<br />
                  <i class="icon-line2-arrow-right"></i> KYC validator functionality is technically integrated.
                </p>
                <span class="cd-timeline__date hidden-xs">2019</span>
              </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->
            <div class="cd-timeline__block js-cd-block">
              <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                <img src="/assets/llc/images/roadlogo.png" alt="Movie">
              </div> <!-- cd-timeline__img -->
              <div class="cd-timeline__content js-cd-content">
                <h2>Q2 <span class="visible-xs">2019</span></h2>
                <p>
                  <i class="icon-line2-arrow-right"></i> An annual conference on DPOS decentralized technologies is organized.
                </p>
                <span class="cd-timeline__date hidden-xs">2019</span>
              </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->
            <div class="cd-timeline__block js-cd-block">
              <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                <img src="/assets/llc/images/roadlogo.png" alt="Movie">
              </div> <!-- cd-timeline__img -->
              <div class="cd-timeline__content js-cd-content">
                <h2>Q3 <span class="visible-xs">2019</span></h2>
                <p>
                  <i class="icon-line2-arrow-right"></i> First KYC validators are on-boarded.
                </p>
                <span class="cd-timeline__date hidden-xs">2019</span>
              </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->
            <div class="cd-timeline__block js-cd-block">
              <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                <img src="/assets/llc/images/roadlogo.png" alt="Movie">
              </div> <!-- cd-timeline__img -->
              <div class="cd-timeline__content js-cd-content">
                <h2>Q1 <span class="visible-xs">2020</span></h2>
                <p>
                  <i class="icon-line2-arrow-right"></i> Road to full decentralization.<br />
                  <i class="icon-line2-arrow-right"></i> Gradual elimination of all components on the centralized backend.<br />
                  <i class="icon-line2-arrow-right"></i> Integration on EOS / adaptation to new market conditions with respect to available technologies.<br />
                  <i class="icon-line2-arrow-right"></i> Ability to exchange on the DEX.
                </p>
                <span class="cd-timeline__date hidden-xs">2020</span>
              </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->
          </div>
        </section> <!-- cd-timeline -->
      </div>
    </div>
    <!-- Team
    ============================================= -->
    <div id="team" class="container clearfix">
      <div class="fancy-title title-border">
        <h3>Team</h3>
      </div>
      <div class="row">
        <div class="col-md-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="/assets/llc/images/team/NG.jpg" alt="Nicolas">
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>Nicolas</h4><span>Project Lead</span></div>
              <div class="team-content">
                <p>Early adopter of cryptocurrencies and blockchain technologies, Nicolas advocates for decentralization since 2012.</p>
              </div>
              <a href="https://www.linkedin.com/in/nicolas-genko-5360b23/" target="_blank" class="social-icon si-rounded si-small si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
              <a href="http://btc-consulting.org/" target="_blank" class="social-icon si-rounded si-small si-twitter">
                <i class="icon-line-globe"></i>
                <i class="icon-line-globe"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="/assets/llc/images/team/AL.jpg" alt="Alexandre">
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>Alexandre</h4><span>Development Lead</span></div>
              <div class="team-content">
                <p>IT expert with deep knowledge of Graphene/Bitshares technology, Alexandre has been involved in various blockchain projects.</p>
              </div>
              <a href="https://www.linkedin.com/in/nicolas-genko-5360b23/" target="_blank" class="social-icon si-rounded si-small si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
              <a href="#" class="social-icon si-rounded si-small si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="/assets/llc/images/team/IG.jpg" alt="John Doe">
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>Grigori</h4><span>Lead design</span></div>
              <div class="team-content">
                <p>Web architect, professional designer and bitcon early adopter, Grigori developed a bitcoin web wallet focused on security and privacy.</p>
              </div>
              <a href="https://github.com/chagry" target="_blank" class="social-icon si-rounded si-small si-github">
                <i class="icon-github-circled"></i>
                <i class="icon-github-circled"></i>
              </a>
              <a href="http://chagry.com/" target="_blank" class="social-icon si-rounded si-small si-twitter">
                <i class="icon-line-globe"></i>
                <i class="icon-line-globe"></i>
              </a>
              <a href="https://bitcointalk.org/index.php?action=profile;u=385490" target="_blank" class="social-icon si-rounded si-small si-aim">
                <i class="icon-bitcoin"></i>
                <i class="icon-bitcoin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="/assets/llc/images/team/AG.jpg" alt="John Doe">
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>Audrey</h4><span>Communication</span></div>
              <div class="team-content">
                <p>Very keen on learning about new tech, Audrey brings her expertise in terms of mass communication on targeted audiences.</p>
              </div>
              <a href="https://www.linkedin.com/in/nicolas-genko-5360b23/" target="_blank" class="social-icon si-rounded si-small si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="/assets/llc/images/team/PB.jpg" alt="John Doe">
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>Philippe</h4><span>Bounty Program</span></div>
              <div class="team-content">
                <p>Specialist in communication system, Philippe joined the blockchain business sector in October 2017.</p>
              </div>
              <a href="https://www.linkedin.com/in/nicolas-genko-5360b23/" target="_blank" class="social-icon si-rounded si-small si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
              <a href="#" class="social-icon si-rounded si-small si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="/assets/llc/images/team/LD.jpg" alt="John Doe">
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>Lewis</h4><span>Communications Editor</span></div>
              <div class="team-content">
                <p>Lewis began researching Bitcoin followed by other blockchain applications in 2012, and is now an assured cryptocurrency advocate.</p>
              </div>
              <a href="https://www.linkedin.com/in/nicolas-genko-5360b23/" target="_blank" class="social-icon si-rounded si-small si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
              <a href="#" class="social-icon si-rounded si-small si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="fancy-title title-border">
        <h3>Advisory Board</h3>
      </div>
      <div class="row">
        <div class="col-md-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="/assets/llc/images/team/RO.jpg" alt="John Doe">
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>Robert</h4><span>Bitshares supporter and Radix COO</span></div>
              <div class="team-content">
                <p>A serial entrepreneur, true digital nomad and super networker, Rob has been a crypto-investor and blockchain evangelist since 2012.</p>
              </div>
              <a href="https://www.linkedin.com/in/nicolas-genko-5360b23/" target="_blank" class="social-icon si-rounded si-small si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
              <a href="#" class="social-icon si-rounded si-small si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>
              <a href="#" class="social-icon si-rounded si-small si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="/assets/llc/images/team/TP.jpg" alt="John Doe">
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>Tarmo</h4><span>Technology Advisor and Bitshares Supporter</span></div>
              <div class="team-content">
                <p>Tarmo is a “Distinguished IT Architect” (The Open Group), banking expert and blockchain expert.</p>
              </div>
              <a href="https://www.linkedin.com/in/nicolas-genko-5360b23/" target="_blank" class="social-icon si-rounded si-small si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
              <a href="#" class="social-icon si-rounded si-small si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 bottommargin">
          <div class="team team-list clearfix">
            <div class="team-image">
              <img src="/assets/llc/images/team/AM.jpg" alt="John Doe">
            </div>
            <div class="team-desc">
              <div class="team-title"><h4>André</h4><span>Legal advice</span></div>
              <div class="team-content">
                <p>Legal advice.</p>
              </div>
              <a href="https://www.linkedin.com/in/nicolas-genko-5360b23/" target="_blank" class="social-icon si-rounded si-small si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
              <a href="#" class="social-icon si-rounded si-small si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #content end -->
