    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix" style="animation-duration: 1.5s; opacity: 1;">

        <!-- Header
        ============================================= -->
        <header id="header" class="split-menu transparent-header dark" data-sticky-class="not-dark" data-responsive-class="not-dark">

            <div id="header-wrap">

                <nav-menu></nav-menu>

            </div>

        </header><!-- #header end -->

        <router-outlet></router-outlet>
    
		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			
			
			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_one_third">

						<div class="widget clearfix">

							<img src="/canvas/loyalty/logo/logo-footer.png" alt="" class="footer-logo">

							<p>LedgerLocal.</p>

							<div style="background: url('/canvas/loyalty/css/world-map.png') no-repeat center center; background-size: 100%;">
								<address>
									London<br>
									United States<br>
								</address>
								<abbr title="Phone Number"><strong>Phone:</strong></abbr> a b c d<br>
							</div>

						</div>

					</div>

					<div class="col_one_third">

						<div class="widget clearfix">
							<h4>Social Networks</h4>
							
							
							
							<div class="well">
							<h4>Facebook</h4>
							<p>Join our Facebook channel</p>
							<a href="https://www.facebook.com/"><button type="button" class="btn btn-warning nomargin"> <i class="icon-facebook"></i> Join us </button></a>
							</div>
							<hr>
							<a href="https://www.facebook.com/"><i class="i-rounded i-small icon-facebook" style="background-color:#0e78f0"></i></a>
							<a href="https://twitter.com/"><i class="i-rounded i-small icon-twitter" style="background-color:#1697f8"></i></a>
							<a href="https://t.me/"><i class="i-rounded i-small icon-email2" style="background-color:#1b72ec"></i></a>
							<a href="https://bitcointalk.org/index.php?topic="><i class="i-rounded i-small icon-bitcoin" style="background-color:#f1c40f"></i></a>
							<a href="https://www.youtube.com/channel/"><i class="i-rounded i-small icon-youtube" style="background-color:#f30b0b"></i></a>
							

						</div>
					</div>

					<div class="col_one_third col_last">
						<div class="widget quick-contact-widget clearfix">
							<h4>Contact our team</h4>
							<div class="quick-contact-form-result"></div>
							<div class="row">
								<div class="col-xs-12">
									<form id="quick-contact-form" name="template-contactform" action="include/sendemail.php" method="post">
										<div class="form-process"></div>
										<div class="input-group divcenter">
											<span class="input-group-addon"><i class="icon-user"></i></span>
											<input type="text" [(ngModel)]="contactname" class="required form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name *" />
										</div>
										<div class="input-group divcenter">
											<span class="input-group-addon"><i class="icon-email2"></i></span>
											<input type="text" [(ngModel)]="contactemail" class="required form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address *" />
										</div>
										<div class="input-group divcenter">
											<span class="input-group-addon"><i class="icon-phone"></i></span>
											<input  [(ngModel)]="contactphone" type="text" class="required form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Phone" />
										</div>
										<!--div class="divcenter">
			                                <select [(ngModel)]="contactservice" name="quick-contact-form-service" class="required form-control input-block-level fullwidthselect">
			                                    <option value="">Select one service</option>
			                                    <option value="Sales">Sales</option>
			                                    <option value="Communication">Communication</option>
			                                    <option value="Management">Management</option>
			                                    <option value="General contact">General Contact</option>
			                                </select>
			                            </div-->
										<div class="input-group divcenter">
											<span class="input-group-addon"><i class="icon-edit"></i></span>
											<input [(ngModel)]="contactsubject" type="text" class="required form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Subject *" />
										</div>
										<textarea [(ngModel)]="contactbody" class="required form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
										<input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
										<button type="submit" (click)="sendContactInfo()"  id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn btn-warning nomargin" value="submit">Send Email</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div><!-- .footer-widgets-wrap end -->
			</div>
			
			<agm-map *ngIf="isInBrowser()" [latitude]="lat" [longitude]="lng">
				<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
			</agm-map>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2018 All Rights Reserved by LedgerLocal.
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<div class="copyrights-menu copyright-links nobottommargin">
								<a href="">Terms of Use</a>/<a href="#modal-login" data-lightbox="inline"><div>Login</div></a>
							</div>
						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
