<!-- Start Breadcumbs Area -->
<div class="breadcumbs-area breadcumbs-bg-1 bc-area-padding">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-left">
            <h2>User Detail</h2>
            <span>summary</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcumbs Area -->
<!-- Start Services Area -->
<div class="content-block-area">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-info">
            <h3 class="title">General Surgery</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="services-item-two">
            <div class="services-item-info">
              <h3 class="title">General Surgery</h3>
              <span class="post">Lorem Ipsum</span>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="services-item-two">
              <div class="services-item-info">
                <h3 class="title">General Surgery</h3>
                <span class="post">Lorem Ipsum</span>
                <p class="description">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Services Area -->
