<!-- Start Breadcumbs Area -->
<div class="breadcumbs-area breadcumbs-bg-1 bc-area-padding">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-left">
            <h2>Services V.2</h2>
            <span><a href="index.html">home</a> / services v.2</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcumbs Area -->
<!-- Start Services Area -->
<div class="content-block-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-one.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">Behavior Counseling</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-two.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">Bereavement Counseling</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-three.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">General Surgery</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-4.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">Consultations</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-5.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">Cremation Services</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-6.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">Diabetes Management</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-7.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">Diagnostic Procedures</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-8.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">In-House Pharmacy</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-one.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">Internal Medicine</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-two.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">Intestinal Blockage</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-three.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">Fecal Testing</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-7.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">Orthopedic Services</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-8.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">Cremation Services</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="services-item-two">
          <div class="services-item-mask">
            <div class="pic">
              <img src="/assets/veto/img/services-img-9.jpg" alt="Image">
              <ul class="single-links">
                <li><a href="#">Read more <i class="fa fa-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="services-item-info">
            <h3 class="title">Fluid Infusion Pumps</h3>
            <span class="post">Lorem Ipsum</span>
            <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 text-center">
        <a href="#" id="loadmore" class="btn theme-btn">view more</a>
      </div>
    </div>
  </div>

</div>
<!-- End Services Area -->
<!-- Start Our testimonials Area -->
<div class="content-block-area gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="section-title text-right">
          <h3>our clients</h3>
          <h2><span>CLIENTS THAT TRUST</span> OUR SERVICES</h2>
        </div>
        <div class="testimonials-car-boxed">
          <img src="/assets/veto/img/testimonial-car.png" alt="Image">
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="testimonial-item">
          <div class="testimonial-single-item">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to  making it look like readable English.</p>
            <ul>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
          </div>

          <div class="quotation-profile">
            <img src="/assets/veto/img/testimonials-1.jpg" alt="Image">
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="testimonial-item">
          <div class="testimonial-single-item">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to  making it look like readable English.</p>
            <ul>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
          </div>
          <div class="quotation-profile">
            <img src="/assets/veto/img/testimonials-1.jpg" alt="Image">
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-8 col-md-offset-4 text-center">
        <a href="#" class="btn theme-btn">see testimonials</a>
      </div>
    </div>
  </div>
</div>
<!-- End Our testimonials Area -->
<!-- Start Our Parners Area -->
<div class="content-block-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="section-title text-center">
          <h2><span>Our</span> Partner</h2>
          <div class="car-icon"><img src="/assets/veto/img/dog.png" alt="car"></div>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>
    </div>
    <div class="partner-slides">
      <div class="single-partner-slide">
        <a class="partners-logo" href="#"><img src="/assets/veto/img/partner-1.png" alt="Image Description"></a>
      </div>
      <div class="single-partner-slide">
        <a class="partners-logo" href="#"><img src="/assets/veto/img/partner-2.png" alt="Image Description"></a>
      </div>
      <div class="single-partner-slide">
        <a class="partners-logo" href="#"><img src="/assets/veto/img/partner-3.png" alt="Image Description"></a>
      </div>
      <div class="single-partner-slide">
        <a class="partners-logo" href="#"><img src="/assets/veto/img/partner-4.png" alt="Image Description"></a>
      </div>
      <div class="single-partner-slide">
        <a class="partners-logo" href="#"><img src="/assets/veto/img/partner-5.png" alt="Image Description"></a>
      </div>
      <div class="single-partner-slide">
        <a class="partners-logo" href="#"><img src="/assets/veto/img/partner-6.png" alt="Image Description"></a>
      </div>
    </div>
  </div>
</div>
<!-- End Our Parners Area -->
