
<section id="content">
  <div class="content-wrap">

    <div class="section notopmargin">
      <div class="container clearfix">
        <div class="center">

          <ul>
            <li *ngFor="let item of listCrypto; let i = index">
              {{i}} {{item}}
            </li>
          </ul>

        </div>
      </div>
    </div>

  </div>
</section>

<section id="content">
  <div class="content-wrap">

    <div class="section notopmargin">
      <div class="container clearfix">
        <div class="center">
          <input type="text" class="form-control" placeholder="0" [(ngModel)]="amountRequested" name="amountRequestedForm">
        </div>
      </div>
    </div>
    <div class="section notopmargin">
      <div class="container clearfix">
        <div class="center">
          <input type="text" class="form-control" placeholder="litecoin" [(ngModel)]="cryptoRequested" name="cryptoForm">
        </div>
      </div>
    </div>

  </div>
</section>

<section id="content2">
  <div class="content-wrap">

    <div class="section notopmargin">
      <div class="container clearfix">
        <div class="center">
          <button type="submit" class="btn btn-primary" (click)="executeParticipation()">Participate</button>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="content3">
  <div class="content-wrap">

    <div class="section notopmargin">
      <div class="container clearfix">
        <div class="center">
          <h2>{{ inputCoinType }}</h2>
        </div>
      </div>
    </div>

    <div class="section notopmargin">
      <div class="container clearfix">
        <div class="center">
          <h2>{{ inputAddress }}</h2>
        </div>
      </div>
    </div>

  </div>
</section>
