@{
    Layout = "_MemberLayout";
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    LedgerLocal AG<br />
    Zug, CH<br />
    <abbr title="Phone">P:</abbr>
    777.666.555.444
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
