<section id="slider" class="full-screen slider-parallax" style="top: -100px; margin-bottom: -100px;">
    <div class="slider-parallax-inner" style="background: url('/canvas/loyalty/css/hero.jpg') center center no-repeat; background-size: cover;">
        <div class="vertical-middle" style="z-index: 2;">
            <div class="container dark clearfix">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-8">
                        <div class="emphasis-title">
                            <h2>User Profil</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
        </div>
    </div>
</section>

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="row clearfix">

                <div class="col-sm-12">

                    <img [src]="imgProfile" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" alt="Avatar" style="max-width: 84px;">

                    <div class="heading-block noborder">
                        <h3>{{ userProfilData.firstName }} {{ userProfilData.lastName }}</h3>
                        <span>{{ userProfilData.email }}</span>
                    </div>

                    <div class="clear"></div>

                    <div class="row clearfix">

                        <div class="col-md-12">

                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <colgroup>
                                        <col class="col-xs-4">
                                        <col class="col-xs-8">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Label</th>
                                            <th>Infos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <code>FirstName</code>
                                            </td>
                                            <td>{{ userProfilData.firstName }}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <code>LastName</code>
                                            </td>
                                            <td>{{ userProfilData.lastName }}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <code>Phone</code>
                                            </td>
                                            <td>{{ userProfilData.phone }}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <code>Email</code>
                                            </td>
                                            <td>{{ userProfilData.email }}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <code>BirthDate</code>
                                            </td>
                                            <td>{{ userProfilData.birthDate }}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <code>Mobile Language</code>
                                            </td>
                                            <td>{{ userProfilData.mobileLanguage }}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <code>StreetName</code>
                                            </td>
                                            <td>{{ userPhoneData.streetName }}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <code>StreetNumber</code>
                                            </td>
                                            <td>{{ userPhoneData.streetNumber }}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <code>ZipCode</code>
                                            </td>
                                            <td>{{ userPhoneData.zipCode }}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <code>City</code>
                                            </td>
                                            <td>{{ userPhoneData.city }}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <code>State</code>
                                            </td>
                                            <td>{{ userPhoneData.state }}</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <code>Country</code>
                                            </td>
                                            <td>{{ userPhoneData.country }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section><!-- #content end -->
