<section id="slider" class="full-screen slider-parallax" style="top: -100px; margin-bottom: -100px;">
    <div class="slider-parallax-inner" style="background: url('/canvas/loyalty/css/hero.jpg') center center no-repeat; background-size: cover;">
        <div class="vertical-middle" style="z-index: 2;">
            <div class="container dark clearfix">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-8">
                        <div class="emphasis-title">
                            <h2>Terms</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
        </div>
    </div>
</section>

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="heading-block center">
                <h3>Terms Page.</h3>
                <span>LoyaltyCoin AG</span>
            </div>

            <p class="divcenter center" style="max-width: 800px;">LoyaltyCoin AG</p>

            <div class="col_full center topmargin nobottommargin">

                <a href="#" class="social-icon si-appstore si-large si-rounded si-colored inline-block" title="iOS App Store">
                    <i class="icon-appstore"></i>
                    <i class="icon-appstore"></i>
                </a>

                <a href="#" class="social-icon si-android si-large si-rounded si-colored inline-block" title="Android Store">
                    <i class="icon-android"></i>
                    <i class="icon-android"></i>
                </a>

                <a href="#" class="social-icon si-gplus si-large si-rounded si-colored inline-block" title="Windows Store">
                    <i class="icon-windows3"></i>
                    <i class="icon-windows3"></i>
                </a>

            </div>

            <div class="clear"></div>

        </div>

    </div>

</section><!-- #content end -->
