<!-- Header + Menu
    ============================================= -->
<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">
  <div id="header-wrap">
    <div class="container clearfix headerfullwidth">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="/#/pages/home/home-view" class="standard-logo" (click)="goToHome()" data-dark-logo="/assets/llc/images/logo-dark.png"><img src="/assets/llc/images/logo.png" alt="LedgerLocal Logo"></a>
        <a href="/#/pages/home/home-view" class="retina-logo" (click)="goToHome()" data-dark-logo="/assets/llc/images/logo-dark@2x.png"><img src="/assets/llc/images/logo@2x.png" alt="LedgerLocal Logo"></a>
      </div><!-- #logo end -->
      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="dark">
        <ul>
          <li>
            <a href="/#/pages/home#presale"><div>Presale</div></a>
          </li>
          <li>
            <a href="/#/pages/home#application"><div>Application</div></a>
          </li>
          <li>
            <a href="/#/pages/home#dao"><div>DAO</div></a>
          </li>
          <li>
            <a href="/#/pages/home#media"><div>Media</div></a>
          </li>
          <li>
            <a href="/#/pages/home#roadmap"><div>Roadmap</div></a>
          </li>
          <li>
            <a href="/#/pages/home#team"><div>Team</div></a>
          </li>
          <li>
            <a href="/#/pages/home/home-view"><div>White Paper</div></a>
          </li>
          <li>
            <a [href]="loginUrl" (click)="loginOrLogoff()"><div>{{ userName }}</div></a>
          </li>
        </ul>
      </nav><!-- #primary-menu end -->
    </div>
  </div>
</header><!-- #header end -->
