<section id="slider" class="full-screen slider-parallax" style="top: -100px; margin-bottom: -100px;">
    <div class="slider-parallax-inner" style="background: url('/canvas/loyalty/css/blog.jpg') center center no-repeat; background-size: cover;">
        <div class="vertical-middle" style="z-index: 2;">
            <div class="container dark clearfix">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-8">
                        <div class="emphasis-title">
                            <h2><i class="icon-book"></i> Media</h2>
                            <p class="lead topmargin-sm">I would be surprised if 10 years from now we're not using electronic currency in some way, [...]. It could get started in a narrow niche like reward points, [...]</p>
                            <small>-Satoshi Nakamoto, Jan. 16, 2009</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
        </div>
    </div>
</section>

<section id="content">

    <div class="content-wrap">
		<!-- Desc -->
		<div class="section notopmargin">
			<div class="container clearfix">
				<div class="col_half topmargin-lg">
					<img src="/canvas/loyalty/css/iphone-solid.png" alt="Image" class="center-block">
				</div>
				<div class="col_half col_last">
					<div class="heading-block">
						<h2>LoyaltyCoin</h2>
						<span>Offers users choice to collect everywhere loyalty rewards.</span>
					</div>
					<p>To exchange them anytime simply on their phone and to redeem what they like in any story across brands, categories and countries. To our partners, we offer a unique digital loyalty program platform with a simple set-up at low cost, direct access to communicate and activate customers, reach to new customers, full customer journey data analytics and tailored branding. We are using proprietary Blockchain technology to assure simple and secure real-time exchanges.</p>
				</div>
			</div>
		</div>

        <div class="container clearfix">

            <div class="heading-block center">
                <h1>Recent Articles</h1>
                <!--span>We almost blog regularly about this &amp; that.</span-->
            </div>

            <div class="postcontent nobottommargin clearfix">

                <!-- Posts
                ============================================= -->
                <div id="posts" class="small-thumbs" *ngFor="let item of articleList; let i = index">

                    <div class="entry clearfix">
                        <div class="entry-image">
                            <a (click)="goToArticlePost(item.id)" data-lightbox="image"><img class="image_fade" [src]="item.imageThumb" alt="{{ item.title }}"></a>
                        </div>
                        <div class="entry-c">
                            <div class="entry-title">
                                <h2><a (click)="goToArticlePost(item.id)">{{ item.title }}</a></h2>
                            </div>
                            <ul class="entry-meta clearfix">
                                <li><i class="icon-calendar3"></i> {{ item.createdOn | date:'medium' }}</li>
                                <li><a (click)="goToArticlePost(item.id)"><i class="icon-user"></i> {{ item.author }}</a></li>
                                <li><i class="icon-folder-open"></i> {{ item.category }}</li>
                                <li><a (click)="goToArticlePost(item.id)"><i class="icon-camera-retro"></i></a></li>
                            </ul>
                            <div class="entry-content">
                                <p><span [outerHTML]="item.shortContent"></span></p>
                                <a (click)="goToArticlePost(item.id)" class="more-link">Read More</a>
                            </div>
                        </div>
                    </div>
                
                </div><!-- #posts end -->
                <!-- Pagination
                ============================================= -->

                <!--<ul class="pager nomargin">
                    <li class="previous"><a [routerLink]="['/blog']">&larr; Older</a></li>
                    <li class="next"><a [routerLink]="['/blog']">Newer &rarr;</a></li>
                </ul>-->
                
                <!-- .pager end -->

            </div>

			<!-- Partner -->
			<div class="fancy-title title-border">
				<h2>LoyaltyCoin in the press</h2>
			</div>
			<div id="oc-fbox" class="owl-carousel fbox-carousel carousel-widget" data-margin="40" data-pagi="false" data-autoplay="5000" data-items-xxs="2" data-items-sm="3" data-items-lg="4">
				<div class="oc-item">
					<div class="feature-box fbox-center">
						<a href="https://www.startupticker.ch/en/news/november-2017/loyaltycoin-macht-treuepunkte-tauschbar-dank-blockchain" target="_blank"><img src="/canvas/loyalty/media/p1.jpg" alt=""></a>
					</div>
				</div>
				<div class="oc-item">
					<div class="feature-box fbox-center">
						<a href="http://www.luzernerzeitung.ch/nachrichten/wirtschaft/finalisten-stehen-fest;art9642,1139532" target="_blank"><img src="/canvas/loyalty/media/p2.jpg" alt=""></a>
					</div>
				</div>
				<div class="oc-item">
					<div class="feature-box fbox-center">
						<a href="http://www.inside-it.ch/articles/49396" target="_blank"><img src="/canvas/loyalty/media/p3.jpg" alt=""></a>
					</div>
				</div>
				<div class="oc-item">
					<div class="feature-box fbox-center">
						<a href="https://medium.com/@kim.d/the-game-changer-loyalty-program-using-blockchain-technologies-3f9483336aed" target="_blank"><img src="/canvas/loyalty/media/p4.jpg" alt=""></a>
					</div>
				</div>
				<!--<div class="oc-item">
					<div class="feature-box fbox-center">
						<a><img src="/canvas/loyalty/partner/p2.jpg" alt=""></a>
					</div>
				</div>-->
			</div>

			<!-- Subscribe -->
			<div class="container clearfix bottommargin-lg topmargin-lg">

				<div class="subscribe-widget">
					<h3 class="text-center" >Subscribe for our <span>Newsletter</span>.</h3>
					<div class="widget-subscribe-form-result"></div>
					<form id="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
						<div class="input-group input-group-lg divcenter" style="max-width:600px;">
							<span class="input-group-addon"><i class="icon-email"></i></span>
							<input [(ngModel)]="contactemail" type="email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
							<span class="input-group-btn">
								<button (click)="sendNewsletter()" class="btn btn-default" type="submit">Subscribe now</button>
							</span>
						</div>
					</form>
				</div>
			</div>
			
			

			
        </div>

    </div>

</section><!-- #content end -->
