<section id="slider" class="full-screen slider-parallax" style="top: -100px; margin-bottom: -100px;">
    <div class="slider-parallax-inner" [ngStyle]="{ 'background': styleImagePost, 'background-size': 'cover' }">
        <div class="vertical-middle" style="z-index: 2;">
            <div class="container dark clearfix">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-8">
                        <div class="emphasis-title">
                            <h2>{{ articleItem.title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
        </div>
    </div>
</section>

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="single-post nobottommargin">

                <div class="entry clearfix">

                    <div class="entry-title">
                        <h2>{{ articleItem.title }}</h2>
                    </div>

                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> {{ articleItem.createdOn | date:'medium' }}</li>
                        <li><a [routerLink]="['/blog']"><i class="icon-user"></i> {{ articleItem.author }}</a></li>
                        <li><i class="icon-folder-open"></i> <a [routerLink]="['/blog']">{{ articleItem.category }}</a></li>
                        <li><a [routerLink]="['/blog']"><i class="icon-camera-retro"></i></a></li>
                    </ul>

                    <!--<div class="entry-image bottommargin">
                        <a [routerLink]="['/blog']"><img [src]="articleItem.imagePost" alt="{{ articleItem.title }}"></a>
                    </div>-->

                    <div class="entry-content notopmargin">

                        <p [innerHTML]="articleItem.content"></p>

                        <div class="tagcloud clearfix bottommargin">
                            <a [routerLink]="['/blog']">{{ articleItem.category }}</a>
                        </div>

                        <div class="clear"></div>

                        <!-- Post Single - Share
                        ============================================= -->
                        
                        <share-buttons [theme]="'circles'"
                                       [size]="4"
                                       [include]="['facebook', 'twitter', 'linkedin', 'whatsapp', 'telegram']"
                                       [title]="articleItem.title"
                                       [description]="articleItem.shortContent">
                        </share-buttons>
                        
                    </div>
                </div>

                <!--<div class="post-navigation clearfix">

                    <div class="col_half nobottommargin">
                        <a [routerLink]="['/blog']">&lArr; Previous</a>
                    </div>

                    <div class="col_half col_last tright nobottommargin">
                        <a [routerLink]="['/blog']">Next &rArr;</a>
                    </div>

                </div>-->
                
                <div class="panel panel-default" *ngIf="articleItem.authorId == '287'">
                    <div class="panel-heading">
                        <h3 class="panel-title">Posted by <span><a [routerLink]="['/blog']">Hans-Michael Hauser</a></span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="author-image">
                            <img src="/canvas/images/author/HMH.jpg" alt="" class="img-circle">
                        </div>
                        <p>Hans-Michael is an experienced entrepreneur and tech veteran. He worked for 19 years for the Boston Consulting Group (BCG) in Munich and in Zurich, as a Partner and Managing Director from 2005 to 2015. He was in charge of BCG’s consulting business for technology companies in Germany and with industrial companies in Switzerland. In 2015 he founded ML Insights AG, focussing on consultancy of companies regarding digital transformation. Hans-Michael is a Member of the Board of Directors of Mikron AG and of Meyer Burger Technologies AG, both listed on the Swiss stock exchange.</p>
						<p>Hans-Michael has advised many clients on strategic and operational challenges and has assisted industries change through technology disruption in his role with BCG and ML Insights. Hans-Michael is convinced that blockchain is a major revolution and that we are still at a very early stage. Loyalty rewards being a natural use case for blockchain, he has committed himself to the founding and developing of LoyaltyCoin Ltd.</p> 
						<p>Hans-Michael is actively shaping the vision and strategy of the LoyaltyCoin ecosystem. He is also deeply involved in the technological direction, interaction with the investment community and setting up the processes and structures. He also contributes hands-on as a resource in building the technological infrastructure of LoyaltyCoin Ltd and the LoyaltyCoin ecosystem.</p>
                    </div>
                </div>

                <div class="panel panel-default" *ngIf="articleItem.authorId == '29'">
                    <div class="panel-heading">
                        <h3 class="panel-title">Posted by <span><a [routerLink]="['/blog']">Nicolas Genko</a></span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="author-image">
                            <img src="/canvas/images/author/NG.jpg" alt="" class="img-circle">
                        </div>
                        <p>Nicolas is an early adopter of cryptocurrency and blockchain technology and active in the blockchain community since 2012. Passionate about new disrupting technologies, he founded one of the first bitcoin consultancy firms in the world, BTC-Consulting.org in 2013 and has been involved in many cryptocurrency related projects.</p>
						<p>He also gained 10 years of experience in IT projects in Swiss banks (Credit Suisse AG) and insurances (Allianz), where he acted as business analyst and reporting specialist. Since the rise of blockchain technologies, Nicolas has been passionate about the idea of decentralization on the Internet. He believes that LoyaltyCoin will significantly participate in building a better internet for end-users as well as businesses.</p>
						<p>Nicolas is fully dedicated to build the LoyaltyCoin blockchain architecture. He is involved in the development of the LoyaltyCoin ecosystem from the basic alignment of the blockchain to the business and loyalty economics requirements to the organization of the development of the platform. He is also responsible for organizing communication and community building for the LoyaltyCoin ecosystem.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

