<section id="slider" class="full-screen slider-parallax" style="top: -100px; margin-bottom: -100px;">
    <div class="slider-parallax-inner" style="background: url('/canvas/loyalty/css/hero.jpg') center center no-repeat; background-size: cover;">
        <div class="vertical-middle" style="z-index: 2;">
            <div class="container dark clearfix">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-8">
                        <div class="emphasis-title">
                            <h2>{{ userMail }} Wallet</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
        </div>
    </div>
</section>


<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="panel panel-primary" *ngFor="let item of userWallets; let i = index">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ item.programName }}</h3>
                </div>

                <div class="panel-body" *ngIf="!item.isJoined">
                    <button (click)="joinProgram(item.coinId)" class="button button-rounded nomargin" name="login-form-modal-submit" value="login">Join Program</button>
                </div>

                <div class="panel-body" *ngIf="item.isJoined">
                    <b>{{ item.balanceAvailable }} {{ item.coinLabel }}</b>
                </div>

                <!-- Table -->
                <table class="table" *ngIf="item.isJoined">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Credit</th>
                            <th>Debit</th>
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let itemHistory of item.history; let i2 = index">
                            <td>{{itemHistory.pointBalanceEntryId}}</td>
                            <td>{{itemHistory.credit}}</td>
                            <td>{{itemHistory.debit}}</td>
                            <td>{{itemHistory.createdOn}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>

</section>


