<section id="slider" class="full-screen slider-parallax" style="top: -100px; margin-bottom: -100px;">
    <div class="slider-parallax-inner" style="background: url('/canvas/loyalty/css/hero.jpg') center center no-repeat; background-size: cover;">
        <div class="vertical-middle" style="z-index: 2;">
            <div class="container dark clearfix">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-8">
                        <div class="emphasis-title">
                            <h2>Map</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
        </div>
    </div>
</section>

<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>Maps</h1>
        <span>Start Locating</span>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Shortcodes</a></li>
            <li class="active">Maps</li>
        </ol>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="col_half">
                <h3>World Map</h3>
                <div id="vmap" style="height: 400px;"></div>
            </div>

            <div class="col_half col_last">
                <h3>USA Map</h3>
                <div id="vmap2" style="height: 400px;"></div>
            </div>

            <div class="col_half">
                <h3>Europe Map</h3>
                <div id="vmap3" style="height: 400px;"></div>
            </div>

            <div class="col_half col_last">
                <h3>Germany Map</h3>
                <div id="vmap4" style="height: 400px;"></div>
            </div>

            <div class="line"></div>

            <div class="col_half">

                <h3>Left-Aligned Google Map</h3>

                <div class="alignleft gmap" id="google-map1" style="width: 280px; height: 170px;"></div>

                <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.</p>

                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>


            </div>

            <div class="col_half col_last">

                <h3>Right-Aligned Google Map</h3>

                <div class="alignright gmap" id="google-map2" style="width: 280px; height: 170px;"></div>

                <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.</p>

                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

            </div>

            <div class="line"></div>

            <h3>Full Width Google Map with Multiple Markers</h3>

            <div id="google-map4" style="height: 250px; margin-bottom: 20px;" class="gmap"></div>

            <p class="nobottommargin">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.</p>

            <div class="line"></div>

        </div>

        <div class="container clearfix">
            <h3>100% Full Width Google Map</h3>
        </div>

        <div id="google-map5" style="height: 400px; margin-bottom: 20px;" class="gmap"></div>

        <div class="container clearfix">

            <p class="nobottommargin">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.</p>

        </div>

        <div class="container clearfix">

            <div class="line"></div>

            <h3>Auto Location &amp; Location Selector using Form Input</h3>

            <div class="col_one_third nobottommargin">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="icon-map-marker"></i></span>
                    <input type="text" id="location-input" name="location-input" class="form-control" placeholder="Search for Location...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="location-submit" type="submit"><i class="icon-line-search"></i></button>
                    </span>
                </div>

                <p id="location-coordinates" style="display: none; margin-top: 10px;">
                    <small id="latitude-text"><em>Latitude:</em></small> &middot; <small id="longitude-text"><em>Longitude:</em></small>
                </p>
            </div>

            <div class="col_two_third nobottommargin col_last">

                <div id="google-map-custom" class="gmap" style="height: 400px;"></div>

            </div>

        </div>

    </div>

</section><!-- #content end -->
