<div class="container clearfix">

    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

    <!-- Logo
    ============================================= -->
    <div id="logo">
        <!--<a [routerLink]="['/home']" class="standard-logo" data-dark-logo="/canvas/loyalty/logo/logo-dark.png"><img src="/canvas/loyalty/logo/logo.png" alt="LoyaltyCoin"></a>
        <a [routerLink]="['/home']" class="retina-logo" data-dark-logo="/canvas/loyalty/logo/logo-dark@2x.png"><img src="/canvas/loyalty/logo/logo@2x.png" alt="LoyaltyCoin"></a> -->
    </div>
    <!-- Primary Navigation
    ============================================= -->
    <nav id="primary-menu" class="with-arrows clearfix not-dark">

        <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
            <li><a [routerLink]="['/home']"><div><img src="/canvas/loyalty/logo/minilogo.png" alt="logo" height="35px"> LoyaltyCoin</div></a></li>
            <!--<li>
                <a href="#" data-href="#wrapper"><div>Current</div></a>
                <ul>
                    <li><a href="#" data-href="#section-nextgen"><div>NextGen Framework</div></a></li>
                    <li><a href="#" data-href="#section-stunning-graphics"><div>Stunning Graphics</div></a></li>
                    <li><a href="#" data-href="#section-secured-solutions"><div>Secured Solutions</div></a></li>
                    <li><a href="#" data-href="#section-faqs"><div>FAQs</div></a></li>
                    <li><a href="#" data-href="#section-gallery"><div>Gallery</div></a></li>
                </ul>
            </li>
            <li>
                <a href="#" data-href="#section-nextgen"><div>Explore</div></a>
                <ul>
                    <li><a [routerLink]="['/blockchain']"><div>Blockchain</div></a></li>
                    <li><a [routerLink]="['/blog']"><div>Blog</div></a></li>
                    <li><a [routerLink]="['/blogpost']"><div>Blog Post</div></a></li>
                    <li><a [routerLink]="['/brandinfo']"><div>Brand Info</div></a></li>
                    <li><a [routerLink]="['/contact']"><div>Contact</div></a></li>
                    <li><a [routerLink]="['/faq']"><div>Faq</div></a></li>
                    <li><a [routerLink]="['/invest']"><div>Invest</div></a></li>
                    <li><a [routerLink]="['/maps']"><div>Maps</div></a></li>
                    <li><a [routerLink]="['/notfound']"><div>Not Found</div></a></li>
                    <li><a [routerLink]="['/notfoundbis']"><div>Not Found Bis</div></a></li>
                    <li><a [routerLink]="['/terms']"><div>Terms</div></a></li>
                    <li><a [routerLink]="['/userwallet']"><div>User Wallet</div></a></li>
                    <li><a [routerLink]="['/userexchange']"><div>User Exchange</div></a></li>
                    <li><a [routerLink]="['/userprofil']"><div>User Profil</div></a></li>
                    <li><a [routerLink]="['/userwallet']"><div>User Wallet</div></a></li>
                </ul>
            </li>-->
        </ul>

        <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
            <!--li><a href="#"><div>{{ currentCount }} Online(s)</div></a></li-->
            <li><a [routerLink]="['/brandinfo']"><div>Merchants</div></a></li>
            <li><a [routerLink]="['/invest']"><div>Investors</div></a></li>
            <li><a [routerLink]="['/blog']"><div>Media</div></a></li>
            <li><a [routerLink]="['/contact']"><div>Team</div></a></li>
           <!-- <li class="menu-item-emphasis"><a href="#modal-login" data-lightbox="inline"><div>{{labelLoggin}}</div></a></li>-->
        </ul>

    </nav><!-- #primary-menu end -->

    <!-- Modal -->
    <div class="modal1 mfp-hide" id="modal-login">
        <div class="block divcenter" style="background-color: #FFF; max-width: 400px;">
            <div style="padding: 50px;" *ngIf="!isAuthorized">
                <h3 class="font-body">Login to your account</h3>
                <form action="#" method="post" class="nobottommargin">
                    <div class="col_full">
                        <button (click)="login()" class="button button-rounded nomargin" name="login-form-modal-submit" value="login">{{ labelLoggin }}</button>
                    </div>
                </form>
                <div class="line line-sm"></div>
            </div>
            <div *ngIf="isAuthorized">
                <h3 class="font-body">{{ userName }}</h3>
            </div>
            <div *ngIf="isAuthorized">
                <img [src]="imgQrCode" height="400" width="400" />
            </div>
            <div style="padding: 50px;" *ngIf="isAuthorized">
                <a [routerLink]="['/usercollect']" class="button button-rounded btn-block t400 center capitalize si-gplus si-colored nomargin"><div>Collect</div></a>
                <a [routerLink]="['/userwallet']" class="button button-rounded btn-block t400 center capitalize si-gplus si-colored nomargin"><div>Wallet</div></a>
                <a [routerLink]="['/userprofil']" class="button button-rounded btn-block t400 center capitalize si-gplus si-colored nomargin"><div>Profil</div></a>
                <a [routerLink]="['/userexchange']" class="button button-rounded btn-block t400 center capitalize si-gplus si-colored nomargin"><div>Exchange</div></a>
            </div>
            <!--<div *ngIf="isAuthorized">
                <pre>{{userData | json}}</pre>
            </div>-->
        </div>
    </div>

</div>
