@model ForgotPasswordViewModel
@{
    Layout = "_MemberLayout";
    ViewData["Title"] = "Forgot your password?";
}


    <h3>Forgot your password?</h3>

    <div class="col_one_third nobottommargin">
        <div class="well well-lg nobottommargin dark" style="background-image: url('images/page/bg1.jpg');">
            <form asp-controller="MemberAccount" asp-action="ForgotPassword" method="post" class="nobottommargin">
                <h3>Forgot Password ?</h3>
                <div class="col_full">
                    <label asp-for="Email">Enter your email:</label>
                    <input asp-for="Email" class="form-control not-dark" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col_full nobottommargin">
                    <button type="submit" class="button button-3d nomargin" id="login-form-submit" name="login-form-submit">Send</button>
                    <a asp-action="Login">Login -></a>
                </div>
            </form>
        </div>
    </div>
    

@section Scripts {
    @{ await Html.RenderPartialAsync("_MemberValidationScriptsPartial"); }
}
