@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<UserManagement.Models.User> SignInManager

@{
    Layout = "_MemberLayout";
    ViewData["Title"] = "Log in";
}


    
<div class="col_one_third nobottommargin">
    <div class="well well-lg dark" style="background-image: url('/images/page/bg1.jpg');">
          <form asp-controller="MemberAccount" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" name="login-form" class="nobottommargin">
                <h3>Login to your Account</h3>
                <div class="col_full">
                    <label asp-for="Email">Email:</label>
                    <input asp-for="Email" class="form-control not-dark" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col_full">
                    <label asp-for="Password">Password:</label>
                    <input asp-for="Password" class="form-control not-dark" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col_full nobottommargin">
                    <button type="submit" class="button button-3d nomargin" name="login-form-submit" value="login">Login</button>
                </div>
            </form>
</div>
    <div class="well well-lg nobottommargin dark" style="background-image: url('/images/page/bg1.jpg');">
            <form asp-controller="MemberAccount" asp-action="ForgotPassword" method="post" name="login-form" class="nobottommargin">
                <h3>Forgot Password ?</h3>
                <div class="col_full">
                    <label asp-for="EmailForgot">Email:</label>
                    <input asp-for="EmailForgot" class="form-control not-dark" />
                    <span asp-validation-for="EmailForgot" class="text-danger"></span>
                </div>
                <div class="col_full nobottommargin">
                    <button type="submit" class="button button-3d nomargin" name="login-form-submit">Send</button>
                </div>
            </form>
</div>
</div>    
<div class="col_two_third col_last nobottommargin">
    <h3>Don't have an Account? Register Now.</h3>
    <p>Decentralized local exchange between fiat money and cryptocurrency, merchant accept any cryptocurrency and hedge their positions.</p>
    <form asp-controller="MemberAccount" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" name="register-form" class="nobottommargin">
        <div class="col_half">
            <label asp-for="Firstname">First name:</label>
            <input asp-for="Firstname" class="form-control not-dark" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>
        <div class="col_half col_last">
            <label asp-for="Lastname">Last name:</label>
            <input asp-for="Lastname" class="form-control not-dark" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>
        <div class="clear"></div>
        <div class="form-group">
            <label asp-for="Address1">Address 1:</label>
            <input asp-for="Address1" class="form-control not-dark" />
            <span asp-validation-for="Address1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address2">Address 2:</label>
            <input asp-for="Address2" class="form-control not-dark" />
            <span asp-validation-for="Address2" class="text-danger"></span>
        </div>
        <div class="clear"></div>
        <div class="col_half">
            <label asp-for="Zip">Zip :</label>
            <input asp-for="Zip" class="form-control not-dark" />
            <span asp-validation-for="Zip" class="text-danger"></span>
        </div>
        <div class="col_half col_last">
            <label asp-for="City">City :</label>
            <input asp-for="City" class="form-control not-dark" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="clear"></div>
        <div class="col_half">
            <label asp-for="Country">Country:</label>
            <select asp-for="Country" class="form-control">
                <option selected="">Choose...</option>
                <option>Afghanistan</option>
                <option>Albania</option>
                <option>Algeria</option>
                <option>Andorra</option>
                <option>Angola</option>
                <option>Antigua and Deps</option>
                <option>Argentina</option>
                <option>Armenia</option>
                <option>Australia</option>
                <option>Austria</option>
                <option>Azerbaijan</option>
                <option>Bahamas</option>
                <option>Bahrain</option>
                <option>Bangladesh</option>
                <option>Barbados</option>
                <option>Belarus</option>
                <option>Belgium</option>
                <option>Belize</option>
                <option>Benin</option>
                <option>Bhutan</option>
                <option>Bolivia</option>
                <option>Bosnia Herzegovina</option>
                <option>Botswana</option>
                <option>Brazil</option>
                <option>Brunei</option>
                <option>Bulgaria</option>
                <option>Burkina</option>
                <option>Burundi</option>
                <option>Cambodia</option>
                <option>Cameroon</option>
                <option>Canada</option>
                <option>Cape Verde</option>
                <option>Central African Rep</option>
                <option>Chad</option>
                <option>Chile</option>
                <option>China</option>
                <option>Colombia</option>
                <option>Comoros</option>
                <option>Congo</option>
                <option>Costa Rica</option>
                <option>Croatia</option>
                <option>Cuba</option>
                <option>Cyprus</option>
                <option>Czech Republic</option>
                <option>Denmark</option>
                <option>Djibouti</option>
                <option>Dominica</option>
                <option>Dominican Republic</option>
                <option>East Timor</option>
                <option>Ecuador</option>
                <option>Egypt</option>
                <option>El Salvador</option>
                <option>Equatorial Guinea</option>
                <option>Eritrea</option>
                <option>Estonia</option>
                <option>Ethiopia</option>
                <option>Fiji</option>
                <option>Finland</option>
                <option>France</option>
                <option>Gabon</option>
                <option>Gambia</option>
                <option>Georgia</option>
                <option>Germany</option>
                <option>Ghana</option>
                <option>Greece</option>
                <option>Grenada</option>
                <option>Guatemala</option>
                <option>Guinea</option>
                <option>Guinea-Bissau</option>
                <option>Guyana</option>
                <option>Haiti</option>
                <option>Honduras</option>
                <option>Hungary</option>
                <option>Iceland</option>
                <option>India</option>
                <option>Indonesia</option>
                <option>Iran</option>
                <option>Iraq</option>
                <option>Ireland</option>
                <option>Israel</option>
                <option>Italy</option>
                <option>Ivory Coast</option>
                <option>Jamaica</option>
                <option>Japan</option>
                <option>Jordan</option>
                <option>Kazakhstan</option>
                <option>Kenya</option>
                <option>Kiribati</option>
                <option>Korea North</option>
                <option>Korea South</option>
                <option>Kosovo</option>
                <option>Kuwait</option>
                <option>Kyrgyzstan</option>
                <option>Laos</option>
                <option>Latvia</option>
                <option>Lebanon</option>
                <option>Lesotho</option>
                <option>Liberia</option>
                <option>Libya</option>
                <option>Liechtenstein</option>
                <option>Lithuania</option>
                <option>Luxembourg</option>
                <option>Macedonia</option>
                <option>Madagascar</option>
                <option>Malawi</option>
                <option>Malaysia</option>
                <option>Maldives</option>
                <option>Mali</option>
                <option>Malta</option>
                <option>Marshall Islands</option>
                <option>Mauritania</option>
                <option>Mauritius</option>
                <option>Mexico</option>
                <option>Micronesia</option>
                <option>Moldova</option>
                <option>Monaco</option>
                <option>Mongolia</option>
                <option>Montenegro</option>
                <option>Morocco</option>
                <option>Mozambique</option>
                <option>Myanmar, {Burma}</option>
                <option>Namibia</option>
                <option>Nauru</option>
                <option>Nepal</option>
                <option>Netherlands</option>
                <option>New Zealand</option>
                <option>Nicaragua</option>
                <option>Niger</option>
                <option>Nigeria</option>
                <option>Norway</option>
                <option>Oman</option>
                <option>Pakistan</option>
                <option>Palau</option>
                <option>Panama</option>
                <option>Papua New Guinea</option>
                <option>Paraguay</option>
                <option>Peru</option>
                <option>Philippines</option>
                <option>Poland</option>
                <option>Portugal</option>
                <option>Qatar</option>
                <option>Romania</option>
                <option>Russian Federation</option>
                <option>Rwanda</option>
                <option>St Kitts and Nevis</option>
                <option>St Lucia</option>
                <option>Saint Vincent and the Grenadines</option>
                <option>Samoa</option>
                <option>San Marino</option>
                <option>Sao Tome and Principe</option>
                <option>Saudi Arabia</option>
                <option>Senegal</option>
                <option>Serbia</option>
                <option>Seychelles</option>
                <option>Sierra Leone</option>
                <option>Singapore</option>
                <option>Slovakia</option>
                <option>Slovenia</option>
                <option>Solomon Islands</option>
                <option>Somalia</option>
                <option>South Africa</option>
                <option>South Sudan</option>
                <option>Spain</option>
                <option>Sri Lanka</option>
                <option>Sudan</option>
                <option>Suriname</option>
                <option>Swaziland</option>
                <option>Sweden</option>
                <option>Switzerland</option>
                <option>Syria</option>
                <option>Taiwan</option>
                <option>Tajikistan</option>
                <option>Tanzania</option>
                <option>Thailand</option>
                <option>Togo</option>
                <option>Tonga</option>
                <option>Trinidad and Tobago</option>
                <option>Tunisia</option>
                <option>Turkey</option>
                <option>Turkmenistan</option>
                <option>Tuvalu</option>
                <option>Uganda</option>
                <option>Ukraine</option>
                <option>United Arab Emirates</option>
                <option>United Kingdom</option>
                <option>Uruguay</option>
                <option>Uzbekistan</option>
                <option>Vanuatu</option>
                <option>Vatican City</option>
                <option>Venezuela</option>
                <option>Vietnam</option>
                <option>Yemen</option>
                <option>Zambia</option>
                <option>Zimbabwe</option>
            </select>
        </div>
        <div class="col_half col_last">
            <label asp-for="EmailRegister">Email:</label>
            <input asp-for="EmailRegister" class="form-control not-dark" />
            <span asp-validation-for="EmailRegister" class="text-danger"></span>
        </div>
        <div class="clear"></div>
        <div class="col_half">
            <label asp-for="PasswordRegister">Password:</label>
            <input asp-for="PasswordRegister" class="form-control not-dark" />
            <span asp-validation-for="PasswordRegister" class="text-danger"></span>
        </div>
        <div class="col_half col_last">
            <label asp-for="ConfirmPassword">Confirm  Password:</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="clear"></div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="IsAgree">
                <label class="form-check-label" asp-for="IsAgree">
                    I acknowledge that I read the white paper and understand the risks with respect to this project.
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="IsAgree2">
                <label class="form-check-label" asp-for="IsAgree2">
                    I acknowledge that any contribution to the project is not an investment. Participants waive their rights to claim their participation to the project.
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <label asp-for="GodFatherId">God Father Id:</label>
                <input asp-for="GodFatherId" class="form-control not-dark" />
                <span asp-validation-for="GodFatherId" class="text-danger"></span>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col_full nobottommargin">
            <button type="submit" class="button button-3d button-black nomargin" name="register-form-submit" value="register">Register</button>
        </div>
    </form>
</div>    

<br /><br />

<div class="line line-sm topmargin-sm"></div>
<div>
    <p>
        LedgerLocal do not accept any participation from Citizens of the United States of America.
    </p>
</div>    

@section Scripts {
    @{ await Html.RenderPartialAsync("_MemberValidationScriptsPartial"); }
}
